=== File: src/widgets/toolbar/Toolbar.css ===
=== Content ===
.buttonRowContainer{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding-left: 2px;
  padding-right: 2px;

  pointer-events: auto; 
}


.buttonRowContainer.vertical{
  flex-direction: column;
  width: auto;
  height: 100%;
}

.buttonRowContainer.horizontal{
  flex-direction: row;
  width: 100%;
  height: auto;

}


=== End of src/widgets/toolbar/Toolbar.css ===

