=== File: src/components/global/Avatar.css ===
=== Content ===
.avatar {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.avatar img {
  width: 100%;
  height: 100%;
}
=== End of src/components/global/Avatar.css ===

